.upload-box {
  width: 480px;
  height: 480px;
  background-color: #d3d3d3; /* abu muda */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* supaya bisa di kiri atas */
  top: 50px;  /* jarak dari atas */
  left: 50px; /* jarak dari kiri */
  border-radius: 8px; /* opsional, biar agak rounded */
  font-weight: bold;
  cursor: pointer; /* biar keliatan bisa di klik */
  user-select: none;
}

.post-title-input {
  position: absolute;
  top: 50px;
  left: 550px;
  width: 1000px;      /* panjang kotaknya */
  height: 100px;      /* tinggi kotaknya */
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-family: Consolas, monospace;
  box-sizing: border-box;
}

.post-description-input {
  position: absolute;
  top: 170px;
  left: 550px;
  width: 1000px;      /* panjang kotaknya */
  height: 250px;      /* tinggi kotaknya */
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-family: Consolas, monospace;
  box-sizing: border-box;
}

.post-tags-input {
  position: absolute;
  top: 450px;
  left: 550px;
  width: 1000px;      /* panjang kotaknya */
  height: 80px;      /* tinggi kotaknya */
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-family: Consolas, monospace;
  box-sizing: border-box;
}

.image-font {
  font-family: Consolas, monospace;
  font-size: 24px;
  font-style: Bold;
  color: #000000;
}

.post-font {
  font-family: Consolas, monospace;
  font-size: 24px;
  font-style: italic;
  color: #333333;
}
.post-font::placeholder {
  font-size: 24px;
  font-style: italic;
  color: #888888;
  opacity: 1;
}